[project]
	description = My personal website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ankita Kumari (ankita-kumari)
[access "refs/for/refs/*"]
	read = group user/Ankita Kumari (ankita-kumari)
	push = group user/Ankita Kumari (ankita-kumari)
	label-Code-Review = -2..+2 group user/Ankita Kumari (ankita-kumari)
	label-Verified = -1..+1 group user/Ankita Kumari (ankita-kumari)
	rebase = group user/Ankita Kumari (ankita-kumari)
	removeReviewer = group user/Ankita Kumari (ankita-kumari)
	submit = group user/Ankita Kumari (ankita-kumari)
[access "refs/heads/*"]
	read = group user/Ankita Kumari (ankita-kumari)
	create = group user/Ankita Kumari (ankita-kumari)
	push = +force group user/Ankita Kumari (ankita-kumari)
	pushMerge = group user/Ankita Kumari (ankita-kumari)
[access "refs/tags/*"]
	push = group user/Ankita Kumari (ankita-kumari)
	push = +force group user/Ankita Kumari (ankita-kumari)
